@font-face {
  font-family: "montserrat";
  src: url(../../polices/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "montserrat_Bold";
  src: url(../../polices/Montserrat-Bold.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'Open Sans', sans-serif;
}
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("../../images/Background_cine.jpg");
 
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 70vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    background-repeat: no-repeat;

  }
/*Unordonered Liste style*/
* {
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    color: #900000;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
  
ul li {
    margin-top: -1px; /* Prevent double borders */
    background-color:white;
    padding: 12px;
}
.categories{
    color: #900000;
    background-color: #ffffff;
    border: 1px solid black;
}
/*Placement de la card*/
/*CSS of card */
.allCards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.catCards{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}



.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 5px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 3rem;
  }
  
  .cards:hover {
    box-shadow: 0 8px 16px 0 #900000;
    -webkit-animation: heartbeat 2s ease-in-out infinite both;
	        animation: heartbeat 2s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


  
 .img_cards {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .container_cards {
    padding: 2px 16px;
  }

/*SearchBar*/
.search_films{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #900000;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #900000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #900000;
  background: #900000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;

}
footer{
  background: #ffffff;
  border:1px solid black;
  margin-top: 1rem;
    width: 100%;
    height: 15vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
footer i{
  color: #900000;
  width: 5rem;

}
/* The Modal (background) */
.modal {

  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}