@font-face {
  font-family: "montserrat";
  src: url(../../polices/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "montserrat_Bold";
  src: url(../../polices/Montserrat-Bold.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #3e3d3d;
}

* {
  box-sizing: border-box;
}

.bobine {
  background-image: url(../../images/bobine.jpg);
  height: 19vh;
  width: 100%;
}
/* BAR NAV */

.dropdown {
  display: none;
}

ul {
  justify-content: center;
  padding: 0;
  margin: 5px;
  color: #900000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul li {
  background-color: white;
  padding: 12px;
}

ul li:hover {
  cursor: pointer;
}

li button::after {
  background: white;
}

li button:active {
  background: white;
}

.allFilms {
  background-color: #ffffff;
  border: none;
}

/*Placement de la card*/

/*CSS of card */
.allCards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.catCards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  flex-wrap: wrap;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 5px;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3rem;
  text-decoration: none;
  color: #212529;
  overflow-x: hidden;
}

.cards:hover {
  color: #212529;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 #900000;
}

.img_cards {
  border-radius: 5px 5px 0 0;
  min-height: 50%;
}

.container_cards {
  padding: 0.5rem;
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

/*SearchBar*/
.search_films {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #900000;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #900000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #900000;
  background: #900000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*MODAL*/

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.1s;
    z-index: 1;
  }

  .modal:target {
    visibility: visible;
    opacity: 1;
  }

  .modal_content {
    background-color: white;
    padding: 1.5em 2em;
    max-width: 60%;
    max-height: 80%;
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .modal_content img {
    max-width:50%;
  }

  .modal_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }

  .modal_description {
    text-align: justify;
  }

  .modal_annee {
    align-self: flex-start;
  }

  .modal_genre {
    align-self: flex-start;
  }

  .modal_close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: grey;
  }

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
}

.icons {
  background: #ffffff;
  border-top: 1px solid black;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  color: #900000;
}


@media (max-width: 1300px) {

  .allCards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  }

}

@media (max-width: 1300px) {

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .p_cards {
    font-size: 0.8rem;
  }
  
}

@media (max-width:800px) {
  
  /* HEADER */
  .menu_desktop {
    display: none;
  }

  /* DROPDOWN */
  .dropdown {
    display: block;
    align-self: flex-end;
  }

  .List_Group_Categories {
    display: flex;
    flex-direction: column;
  }

  /* SEARCH BAR */

  .search_films {
    width: 90vw;
  }

  /* CARDS  */
  .catCards {
    width: 100%;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .p_cards {
    display: none;
  }

  .allCards {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .cards {
    width: 90%;
  }

  .container_cards {
    display: flex;
    flex-direction: column;
  }

  .catCards {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .wrap {
    width: 90%;
  } 

  /*MODAL MOBILE*/
 
  .modal_description {
    font-size: .7rem;
  }

  .img_modal {
    height: 50%;
    ALIGN-self: center;
  }

  .modal_content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1.5em 2em;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
  }

  .modal {
    background-color: white;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .categories {
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }

  .logo {
    width: 90%;
  }
}


@media (max-width:360px){
  .nav-item {
    font-size: .8rem;
  }
}
